You are given an input consisting of a passage and a set of triples that reflect the information in the passage. Your task is to generate a new set of triples that contradict the input. Please follow these instructions:
- Make use of the functions available to you to understand the predicates and entities involved.
- The generated contradicted triples may contain only entities and predicates mentioned in the input, or in responses to function calls.
- Triples are specified with one triple per line, and an element in a triple is specified as [label:id] where label is a short textual label, and id is the identifier in the knowledge graph
- Only call one function at a time.
- Submit your answer by calling the `submit_final_answer` function. If an answer contains multiple triples, use a single string with new line separators.

Example:
Passage: Salah Bouchaour is a town and commune in Skikda Province in north-eastern Algeria.
Triples:
[Salah Bouchaour:Q1650111] [instance of:P31] [Communes of Algeria:Q2989398]
[Skikda Province:Q234227] [country:P17] [Algeria:Q262]
[Algeria:Q262] [contains administrative territorial entity:P150] [Skikda Province:Q234227]
Contradicting triples:
[Salah Bouchaour:Q1650111] [instance of:P31] [Commune of France:Q484170]
[Skikda Province:Q234227] [country:P17] [France:Q142]
[France:Q142] [contains administrative territorial entity:P150] [Skikda Province:Q234227]

Please proceed with the task using the following inputs:
Passage: {{ passage }}
Triples:
{{ triples }}
